
node_modules/
.env
dist/
build/
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Testing
coverage/
jest-cache/

/generated/prisma

/generated/prisma

/lib/generated/prisma
firebase/lorry-taxi-firebase-adminsdk-fbsvc-9d521c8aa2.json